@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;800&display=swap');

body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #212124;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 30vw;
    flex-direction: column;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #ffffff;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    height: 50%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px ;
    background: #3F3554;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login h1 {
    color: #ffffff;
    font-weight: 800;
    margin: 0;
    padding: 10px;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 12px 0px;
}

.textfield input {
    outline: 1px solid #535353;
    background-color: #3F3554;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    box-sizing: border-box;
}

.textfield input:focus-visible {
    outline: 1px solid #742BD9;
}

.textfield label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield input :placeholder {
    color: #F0FFFF94;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    color: #2b134b;
    background-color: #742BD9;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #7428df ;
}

.cadastro {
    margin-top: 600px;
    position: absolute;
}

.cadastro p {
    color: #ffffff;
}

.cadastro a {
    color: #742BD9;
}

@media only screen and (max-width: 950px){
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .container {
        flex-direction: column;
    }

    .left-login h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .card-login {
        width: 90%;
    }
}